body {
  background-color: #1e1e2f ;
  align-items: center;
  justify-self: center;
  margin: 0%;
  color: white;
}

.gametable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* space between items */
  width: 300px;
  height: 300px;
  margin: 0;
}

.gametable button {
  height: 100px;
  width: 100px;
  background-color: #282c34;
  color: rgb(255, 255, 255);
  text-align: center;
  
  border: 3px solid #444444;
  font-size: xx-large;
  font-weight: 300;
}

